doctype html 
html(lang="en")
  head
    title How Dactrtr rocks?
    meta(name='title' content='How Dactrtr Rocks')
    meta(name='description' content="Hi, I'm Sebastián Zúñiga, UI designer and illustrator, this is my portfolio, kinda.")
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://how.dactrtr.rocks')
    meta(property='og:title' content='How Dactrtr Rocks')
    meta(property='og:description' content="Hi, I'm Sebastián Zúñiga, UI designer and illustrator, this is my portfolio, kinda.")
    meta(property='og:image' content='https://i.imgur.com/8DR6nyr.png')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='https://how.dactrtr.rocks')
    meta(property='twitter:title' content='How Dactrtr Rocks')
    meta(property='twitter:description' content="Hi, I'm Sebastián Zúñiga, UI designer and illustrator, this is my portfolio, kinda.")
    meta(property='twitter:image' content='https://i.imgur.com/8DR6nyr.png')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="css/style.css")
  link(rel='shortcut icon' href='favicon.ico')
  //- Hello Hello!
  body 
    .cursor
      .eye
        .glare
    header
      .logo
        img(src="img/logo.svg" alt="pizza illuminati with some horns illustration")
      .hi-there
        p.hi  Hello, I'm 
        h1  Sebastián Zúñiga    
        p.more-less  more or less known also as 
      a(href="http://dactrtr.rocks").blog Dactrtr
      nav
        ul.nav-links
          li(data-page="about")
            a(href="#").link WHO?
          li(data-page="skills")
            a(href="#").link HOW?
          li(data-page="projects")
            a(href="#").link WHAT?
    section.who
      .subtitle
        h2  DACTRTR... who?
        p.fun  Don't mind, just call me Seb
      .who-is
        p.desc.
          Hi, I'm #[strong Sebastián Zúñiga], #[a(href="https://www.linkedin.com/in/dactrtr/") UI designer] and #[a(href="https://www.instagram.com/dactrtr.svg/") Illustrator], always looking for the new "tech kid on the block", researching to improve my work, or developing (I also like to#[a(href="https://github.com/dactrtr") code]) new skills. I'm the serious looking funny guy at every place and the designer that is in the middle of the developers talking like one more of the pack.
        p.desc.
          #[strong Hey!] wait, all that knowledge research is #[strong useless if isn't shared], that's why with one of my #[a(href="http://www.arielcerda.com/") friends] we run a small group of #[a(href="https://medium.com/sketchchile") Sketch]
            where we share tutorials and stuff so cool that sometimes seems to be #[strong frozen].
        p.desc Actually based in #[a(href="https://footprints.zen.ly/dactrtr") somewhere], working remotely for #[a(href="http://www.elun.cl") Elun].
        p.desc Previously at #[a(href="https://www.mckinsey.com/") Mckinsey Chile] and #[a(href="https://dena.com/intl/") DeNA Chile] 
      .profile
        img.avatar(src="img/profile.jpg" alt="Picture of me holding my phone in Ukraine, next to a wall full of illustrations about internet and technology")
        span

    section.how
      .subtitle
        h2  Sk1llz
        p.fun ~Actually my mains skill is Learning, but everyone loves to read those below~
      .skills
        ul.skill-list
          li.skill 
            img.img(src="img/ui.svg" alt="Skeleton hand with a phone illustration")
            h3.list UI Design
            p.desc Sketch is my main tool at the moment, to make delightful and useful groups of pixels for those high end pieces of glass that's lives in everyone pockets, you know smartphones.
            p #[strong Current tools]:
            .skills-list
              a(href="https://www.sketch.com/updates/") Sketch 66
              a(href="https://www.abstract.com/") Abstract
              a(href="https://principleformac.com/") Principle
          li.skill
            img.img(src="img/illu.svg" alt="Skeleton hadn with and apple pencil swirling  illustration")
            h3.list Illustration
            p.desc Sometimes I like to draw stuff, and pretty much in every project try to add some fun little character to give a little more "wowowowowo effect".
            p #[strong Current tools]:
            .skills-list 
              a(href="https://www.jetpens.com/TRAVELER-S-COMPANY-TRAVELER-S-notebook-Refill-003-Passport-Size-Blank/pd/13639") Notebook
              a(href="https://www.muji.us/store/gel-ink-ballpoint-pen-cap-type-0-38mm-black-4550002794262.html") Gel 0.38
              a(href="https://procreate.art/") Procreate
          li.skill 
            img.img(src="img/code.svg" alt="Skeleton hand in a rocking pose with a terminal screen around, like a flag illustration")
            h3.list Coding
            p.desc Yes, I like to code. I built my first website when I was 14 (21 years ago) in plain HTML and since then never stopped to read and learn about "coding", actually I'm working using Vue and learning SwiftUI.
            p #[strong Current tools]:
            .skills-list
              a(href="https://code.visualstudio.com/") VSCode
              a(href="https://developer.apple.com/xcode/") Xcode
              a(href="https://git-scm.com/") Git

    //- section.what
    //-   .subtitle
    //-     h2 PROJ3CTS
    //-     p.fun All those skills and tools on the move.
      
    //-   ul.projects

        //- li.briefcase.notros
        //-   img(src="img/blob1.svg" alt="blob").blob-1
        //-   img(src="img/blob2.svg" alt="blob").blob-2
        //-   img(src="img/projects/notros.png" alt="Notros screenshot").screen.notros-screen
        //-   .header
        //-     h3.p-name.
        //-       Notros
        //-     h4.company.
        //-       Elun
        //-     p.year.
        //-       2019-2020
        //-   .content
        //-     p.p-desc.
        //-       Notros is a tool that helps managers and marketers to maintain and give users contextual communication, with location-aware technology without installing any app.
        //-     ul.roles
        //-           li.single
        //-             h5.title.
        //-               UI Designer / Frontend
        //-             p.desc.
        //-               Created a scalable and highly customizable foundation in Sketch, with an atomic design approach setting the foundations for a design system, with a control version in Abstract, Translated the designs into code using VUE, SASS, and HTML. This was my first time using VUE
        //-           li.single
        //-             h5.title.
        //-               Achievements
        //-             p.desc.
        //-               Deeper my knowledge in front end, learn the basis of VUE, and create more than a "dribbbleish" design, a robust foundation for a design system, by myself.
        
        //- li.briefcase.mck
        //-   img(src="img/blob1.svg" alt="blob").blob-1
        //-   img(src="img/blob1.svg" alt="blob").blob-2
        //-   img(src="img/projects/notros.png" alt="Notros screenshot").screen.mck-screen
        //-   .header
        //-     h3.p-name.
        //-       Mckinsey & Co.
        //-     p.year.
        //-       2019-2020
        //-   .content
        //-     p.p-desc.
        //-       Notros is a tool that helps managers and marketers to maintain and give users contextual communication, with location-aware technology without installing any app.
        //-     ul.roles
        //-           li.single
        //-             h5.title.
        //-               UI Designer / Frontend
        //-             p.desc.
        //-               Created a scalable and highly customizable foundation in Sketch, with an atomic design approach setting the foundations for a design system, with a control version in Abstract, Translated the designs into code using VUE, SASS, and HTML. This was my first time using VUE
        //-           li.single
        //-             h5.title.
        //-               Achievements
        //-             p.desc.
        //-               Deeper my knowledge in front end, learn the basis of VUE, and create more than a "dribbbleish" design, a robust foundation for a design system, by myself.
        
        //- li.briefcase.braveup
        //-   img(src="img/blob1.svg" alt="blob").blob-1
        //-   img(src="img/blob1.svg" alt="blob").blob-2
        //-   img(src="img/projects/notros.png" alt="Notros screenshot").screen.braveup-screen
        //-   .header
        //-     h3.p-name.
        //-       Brave-up
        //-     p.year.
        //-       2019-2020
        //-   .content
        //-     p.p-desc.
        //-       Notros is a tool that helps managers and marketers to maintain and give users contextual communication, with location-aware technology without installing any app.
        //-     ul.roles
        //-           li.single
        //-             h5.title.
        //-               UI Designer / Frontend
        //-             p.desc.
        //-               Created a scalable and highly customizable foundation in Sketch, with an atomic design approach setting the foundations for a design system, with a control version in Abstract, Translated the designs into code using VUE, SASS, and HTML. This was my first time using VUE
        //-           li.single
        //-             h5.title.
        //-               Achievements
        //-             p.desc.
        //-               Deeper my knowledge in front end, learn the basis of VUE, and create more than a "dribbbleish" design, a robust foundation for a design system, by myself.
        

        
    footer
      h2 Find me at:
      .links
        a(href="https://twitter.com/dctrtr")
          img(src="img/icon-tw.svg" alt="Twitter logo illustration")
        a(href="https://www.instagram.com/dactrtr.svg/")
          img(src="img/icon-ig.svg" alt="Instagram logo illustration")
        a(href="https://www.linkedin.com/in/dactrtr/")
          img(src="img/icon-lkn.svg" alt="Linkedin logo illustration")
        a(href="https://github.com/dactrtr")
          img(src="img/icon-github.svg" alt="Github logo illustration")
        a(href="https://medium.com/@dactrtr")
          img(src="img/icon-medium.svg" alt="Medium logo illustration")
      p.fun ...and pretty much other place as Dactrtr
      .credits
        p Built with:
        a(href="https://www.sketch.com/")
          img.icon(src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sketch_Logo.svg/1200px-Sketch_Logo.svg.png" alt="sketch link")
        a(href="https://github.com/pugjs/pug") 
          img.icon(src="https://camo.githubusercontent.com/a43de8ca816e78b1c2666f7696f449b2eeddbeca/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667" alt="pugjs link")
        a(href="https://sass-lang.com/")
          img.icon(src="https://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg" alt="Sass link")
        a(href="https://pages.github.com/")  
          img.icon(src="img/githubpages.svg" alt="github link")
          
        a(href="https://www.greensock.com/")  
          img.icon(src="img/gsap.svg" alt="greensock link")
      .source
        p 2020


    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/ScrollTrigger.min.js')
    //- script(src='https://cdn.jsdelivr.net/npm/mailgo@latest/dist/mailgo.min.js')
    
    script(src='crazycode.js')
    

          
